{% import 'macro/svg.html' as SVG %}
{% import 'macro/oops.html' as OOPS %}

<body class="layout-fluid">
  <script src="../static/js/modules/echarts.min.js"></script>

  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards mb-3">
        <div class="col-12 col-md-4 col-xl-3">
          <div class="card border-0 card-sm" style="height: 88px">
            <div class="card-body border-0">
              <div class="row align-items-center">
                <div class="col-auto bg-vimeo avatar text-white">{{ SVG.hard_disk_storage() }}</div>
                <div class="col">
                  <div class="d-flex align-items-center subheader">存储空间</div>
                  <div class="me-auto">
                    <div>
                      <div class="h1 mb-0 me-2" style="float:left">{{ SystemStatics.TotalSpace }} </div>
                      <div class="h3 text-muted d-inline-flex align-items-center lh-1" style="float:right">{{
                        SystemStatics.SpaceUsedPercent }}% </div>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-progress" style="overflow: hidden">
              <div class="progress-bar bg-blue" style="width:{{ SystemStatics.SpaceUsedPercent }}%" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
          <div class="card border-0 card-sm" style="height: 88px">
            <div class="card-body border-0">
              <div class="row align-items-center">
                <div class="col-auto bg-green avatar text-white">{{ SVG.memory() }}</div>
                <div class="col">
                  <div class="d-flex align-items-center subheader">内存</div>
                  <div class="me-auto">
                    <div>
                      <div class="h1 mb-0 me-2" style="float:left">{{ SystemStatics.TotalMemory }} </div>
                      <div class="h3 text-muted d-inline-flex align-items-center lh-1" style="float:right">{{
                        SystemStatics.MemoryUsedPercent }}% </div>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-progress" style="overflow: hidden">
              <div class="progress-bar bg-green" style="width:{{ SystemStatics.MemoryUsedPercent }}%" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
          <div class="card border-0 card-sm" style="height: 88px">
            <div class="card-body border-0">
              <div class="row align-items-center">
                <div class="col-auto bg-purple avatar text-white">{{ SVG.cpu() }}</div>
                <div class="col">
                  <div class="d-flex align-items-center subheader">CPU</div>
                  <div class="me-auto">
                    <div>
                      <div class="h1 mb-0 me-2" style="float:left">{{ SystemStatics.CpuUsedPercent }}%</div>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-progress" style="overflow: hidden">
              <div class="progress-bar bg-purple" style="width:{{ SystemStatics.CpuUsedPercent }}%" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-3">
          <div class="card border-0 card-sm" style="height: 88px">
            <div class="card-body border-0">
              <div class="row align-items-center">
                <div class="col-auto bg-yellow avatar text-white">{{ SVG.user() }}</div>
                <div class="col">
                  <div class="d-flex align-items-center subheader">用户数</div>
                  <div class="me-auto">
                    <div>
                      <div class="h1 mb-0 me-2" style="float:left" id="user_count">{{ UserCount }}</div>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-progress" style="overflow: hidden">
              <div class="progress-bar bg-green" style="width:0%" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 媒体库信息 -->
  {% if ServerSucess %}
  <div class="page-body">
    <div class="container-xl">
      <div class="modal-body py-0">
        <div class="col-md-12">
          <div class="row row-cards align-items-center row-eq-height" , style="position: relative">
            <!-- 媒体库信息 -->
            <div class="col-lg-4">
              <div class="card border-0 card-link-pop p0 overflow-hidden rounded-3" style="height: 330px">
                <div class="card-header">
                  <h3 class="card-title">
                    媒体库信息
                  </h3>
                  <div class="ms-auto">
                    <a href="javascript:refresh_library_mediacount()" class="btn-icon">
                      {{ SVG.refresh() }}
                    </a>
                  </div>
                </div>
                <div class="card-body border-0">
                  <dl class="row row-eq-height">
                    <div class="card-body border-0">
                      <div class="row align-items-center">
                        <div class="col-auto bg-pink avatar text-white">{{ SVG.movie() }}</div>
                        <div class="col">
                          <div class="d-flex align-items-center subheader">电影</div>
                          <div class="h2 mb-0 me-2" style="float:left" id="movies_count">{{ MediaCount.Movie }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="card-progress" style="overflow: hidden">
                      <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="card-body border-0">
                      <div class="row align-items-center">
                        <div class="col-auto bg-green avatar text-white">{{ SVG.device_tv() }}</div>
                        <div class="col">
                          <div class="d-flex align-items-center subheader">电视剧/动漫</div>
                          <div class="me-auto">
                            <div>
                              <div class="h2 mb-0 me-2" style="float:left" id="series_count">{{ MediaCount.Series }} </div>
                              <div class="h3 text-muted d-inline-flex align-items-center lh-1" style="float:right" id="episodes_count">{{
                                MediaCount.Episodes }} 集
                              </div>
                            </div>
                            <div style="clear:both"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-progress" style="overflow: hidden">
                      <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="card-body border-0">
                      <div class="row align-items-center">
                        <div class="col-auto bg-lime avatar text-white">{{ SVG.music() }}</div>
                        <div class="col">
                          <div class="d-flex align-items-center subheader">音乐</div>
                          <div class="me-auto">
                            <div>
                              <div class="h2 mb-0 me-2" style="float:left" id="album_count">{{ MediaCount.AlbumCount }}
                              </div>
                              <div class="h3 text-muted d-inline-flex align-items-center lh-1" style="float:right" id="song_count">{{
                                MediaCount.SongCount }} 曲
                              </div>
                            </div>
                            <div style="clear:both"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-progress" style="overflow: hidden">
                      <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
            <!-- 媒体库信息结束 -->
            <!--  最新入库统计 -->
            <div class="col-lg-8">
              <div class="card border-0 card-link-pop p0 overflow-hidden rounded-3" style="height: 330px">
                <div class="card-header">
                  <h3 class="card-title">
                    最新入库统计
                  </h3>
                  <div class="card-actions btn-actions">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-lg-12">
                    <div class="card-body border-0">
                      <div id="media_library_statics" style="height: 220px"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  最新入库统计结束 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="page-body">
    <div class="container-xl">
      <div class="modal-body py-0">
        <div class="col-md-12">
          <div class="row row-cards align-items-center row-eq-height" style="position: relative">
            <!-- CPU曲线,内存曲线 -->
            <div class="col-lg-4">
              <div class="card border-0 card-link-pop p0 overflow-hidden rounded-3" style="height: 330px">
                <div class="card-header" style="line-height: 0px">
                  <h3 class="card-title">资源监控</h3>
                  <div class="ms-auto">
                    <a href="javascript:refresh_sys_monitor()" class="btn-icon">
                      {{ SVG.refresh() }}
                    </a>
                  </div>
                </div>
                <div class="card-body border-0" style="height: 110px">
                  <div id="cpu_history_statics" style="height: 110px"></div>
                </div>
                <div style="height: 10px"></div>
                <div class="card-body border-0" style="height: 110px">
                  <div id="memory_history_statics" style="height: 110px"></div>
                </div>
              </div>
            </div>
            <!-- 后台任务监控 -->
            <div class="col-lg-4">
              <div class="card border-0 card-link-pop p0 overflow-hidden rounded-3" style="height: 330px">
                <div class="card-header">
                  <h3 class="card-title">后台任务</h3>
                  <div class="ms-3">
                    <a href="javascript:show_bg_runnings()" class="btn-icon">
                      {{ SVG.details() }}
                    </a>
                  </div>
                  <div class="ms-1 text-muted">
                    共 {{ BackgroundJobsCount }} 条记录
                  </div>
                  <div class="ms-auto">
                    <a href="javascript:refresh_tasks_monitor()" class="btn-icon">
                      {{ SVG.refresh() }}
                    </a>
                  </div>
                </div>
                <div id="table-background-tasks" class="table-responsive">
                  <table class="table table-vcenter card-table table-hover" style="height: 88px">
                    <tbody class="table-tbody">
                      {% if BackgroundJobsCount > 0 %}
                      {% for item in BackgroundRunnings[0:5] %}
                      <tr>
                        <td class="sort-name" style="border:none">
                          <div class="d-flex py-1 align-items-center">
                            <small>{{ item.name }}</small>
                          </div>
                        </td>
                        <td class="sort-data" style="border:none">
                          <div class="flex-fill">
                            <small>{{ item.delta_time }}</small>
                          </div>
                        </td>
                        <td class="sort-type" style="border:none">
                          <div class="flex-fill">
                            {% if item.type == 'service' %}
                            <span class="badge text-white bg-blue mb-1">
                              <small>S</small>
                            </span>
                            {% else %}
                            <span class="badge text-white bg-yellow mb-1">
                              <small>P</small>
                            </span>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <tr>
                        <td colspan="8" align="center" style="border:none">没有任务</td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card border-0 card-link-pop p0 overflow-hidden rounded-3" style="height: 330px">
                <div class="card-header">
                  <h3 class="card-title">
                    下载器信息
                  </h3>
                  <div class="ms-auto">
                    <a href="javascript:refresh_downloader_statistics()" class="btn-icon">
                      {{ SVG.refresh() }}
                    </a>
                  </div>
                </div>
                <div id="downloader-statistic-data" class="table-responsive">
                  <table class="table table-vcenter card-table table-hover" id="table-downloader_info">
                    <thead>
                      <tr>
                        <th class="flex-fill">下载器</th>
                        <th>种子数</th>
                        <th>上传</th>
                        <th>下载</th>
                      </tr>
                    </thead>
                    <tbody class="table-tbody">
                      {% for Name, Info in DownloaderInfo.items() %}
                      <tr>
                        <td class="sort-name" style="border:none">
                          <div class="col-auto bg-blue avatar text-white">
                            <a href="http://{{ Info.host }}:{{ Info.port }}" target="_blank">
                              {{ Info.logo }}
                            </a>
                          </div>
                        </td>
                        <td class="sort-name" style="border:none">{{ Info.torrent_count }}</td>
                        <td style="border:none">
                          <div class="h5 mb-0 me-2" style="float:left white-space:nowrap">{{ Info.upload_speed }}
                          </div>
                          <div class="h6 mb-0 me-2 text-muted d-inline-flex lh-1" style="float:left white-space:nowrap">
                            {{
                            Info.upload_rate_limit }}</div>
                          <div style="clear:both"></div>
                        </td>
                        <td style="border:none">
                          <div class="h5 mb-0 me-2" style="float:left white-space:nowrap">{{ Info.download_speed }}
                          </div>
                          <div class="h6 mb-0 me-2 text-muted d-inline-flex lh-1" style="float:left white-space:nowrap">
                            {{
                            Info.download_rate_limit }}</div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--单个下载器信息-->
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="modal-show-bg-runnings" tabindex="-1" role="dialog" aria-hidden="true"
      data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">后台任务</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="table-background-tasks" class="table-responsive" style="height: 600px">
              <table class="table table-vcenter card-table table-hover">
                <tbody class="table-tbody">
                  {% if BackgroundJobsCount > 0 %}
                  {% for item in BackgroundRunnings %}
                  <tr>
                    <td class="sort-name">
                      <div class="d-flex py-1 align-items-center">
                        <small>{{ item.name }}</small>
                      </div>
                    </td>
                    <td class="sort-data">
                      <div class="flex-fill">
                        <small>{{ item.delta_time }}</small>
                      </div>
                    </td>
                    <td class="sort-type">
                      <div class="flex-fill">
                        {% if item.type == 'service' %}
                        <span class="badge text-white bg-blue mb-1">
                          <small>{{ item.type }}</small>
                        </span>
                        {% else %}
                        <span class="badge text-white bg-yellow mb-1">
                          <small>{{ item.type }}</small>
                        </span>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="8" align="center">没有任务</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  media_library_statics();
  function media_library_statics(e) {
    ajax_post("get_transfer_statistics", {}, function (ret) {
      chart_media_stats = echarts.init(
        document.getElementById("media_library_statics"),
        null,
        {
          renderer: "canvas",
          useDirtyRect: false,
        }
      );

      const option = {
        title: {
          text: "",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        legend: {
          data: ["电视剧", "动漫", "电影"],
          textStyle: {
            color: "#888866",
          },
        },
        toolbox: {
          feature: {},
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            data: ret.Labels,
          },
        ],
        yAxis: [
          {
            name: "电视剧/动漫",
            nameTextStyle:
            {
              color: "#65ABE7",
            },
            type: "value",
            splitLine: {
              show: true,
              lineStyle: {
                type: [1, 10],
                dashOffset: 3
              }
            },
            show: true,
          },
          {
            name: "电影",
            nameTextStyle:
            {
              color: "#FFBF00",
            },
            type: "value",
            alignTicks: true,
            splitLine: {
              show: true,
              lineStyle: {
                type: [1, 10],
                dashOffset: 3
              }
            },
            show: true,
          },
        ],
        series: [
          {
            name: "电影",
            type: "line",
            stack: "Total",
            areaStyle: {},
            emphasis: {
              focus: "series",
            },
            yAxisIndex: 1,
            data: ret.MovieNums,
            smooth: true,
            color: "#FFBF00",
            type: "line",
            areaStyle: {
              opacity: 0.1
            }
          },
          {
            name: "电视剧",
            type: "line",
            stack: "Total",
            areaStyle: {},
            emphasis: {
              focus: "series",
            },
            yAxisIndex: 0,
            data: ret.TvNums,
            smooth: true,
            color: "#65ABE7",
            type: "line",
            alignTicks: true,
            areaStyle: {
              opacity: 0.1
            }
          },
          {
            name: "动漫",
            type: "line",
            stack: "Total",
            areaStyle: {},
            emphasis: {
              focus: "series",
            },
            yAxisIndex: 0,
            data: ret.AnimeNums,
            smooth: true,
            color: "#444BE7",
            type: "line",
            alignTicks: true,
            areaStyle: {
              opacity: 0.1
            }
          },
        ],
      };
      chart_media_stats.setOption(option);
    });
  }

</script>

<script type="text/javascript">
  refresh_library_mediacount();
  function refresh_library_mediacount() {
    ajax_post("get_library_mediacount", {}, function (ret) {
      let MovieCount=ret.Movie;
      let SeriesCount=ret.Series;
      let EpisodesCount=ret.Episodes;
      let AlbumCount=ret.AlbumCount;
      let SongCount=ret.SongCount;
      let UserCount=ret.User;
      document.getElementById("movies_count").innerHTML = MovieCount;
      document.getElementById("series_count").innerHTML = SeriesCount;
      document.getElementById("episodes_count").innerHTML = EpisodesCount;
      document.getElementById("album_count").innerHTML = AlbumCount;
      document.getElementById("song_count").innerHTML = SongCount;
      document.getElementById("user_count").innerHTML = UserCount;
    });
  }
</script>

<script type="text/javascript">
  refresh_downloader_statistics();
  
  function refresh_downloader_statistics() {
    ajax_post("get_downloader_statistics", {}, function (ret) {
      let response = ret;
      var trHTML = '<thead><tr><th class="flex-fill">下载器</th><th>种子数</th><th>上传</th><th>下载</th></tr></thead>';
      trHTML += '<tbody class="table-tbody">';

      for (var downloaderName in response) {
        if (response.hasOwnProperty(downloaderName)) {
          var downloaderData = response[downloaderName];
          var logoSVG = SVG.transmission();
          if (downloaderData.downloader_type == "QB") {
            logoSVG = SVG.qbittorrent();
          } else if (downloaderData.downloader_type == "TR") {
            logoSVG = SVG.transmission();
          }

          trHTML += '<tr>';
          trHTML = trHTML + '<td class="sort-name" style="border:none"> <div class="col-auto bg-blue avatar text-white"> <a href="http://' + downloaderData.host + ':' + downloaderData.port + '" target="_blank">' + logoSVG + '</a> </div> </td>';
          trHTML = trHTML + '<td class="sort-name" style="border:none">' + downloaderData.torrent_count + '</td>';
          trHTML = trHTML + '<td style="border:none"> <div class="h5 mb-0 me-2" style="float:left white-space:nowrap">' + downloadData.upload_speed + '</div> <div class="h6 mb-0 me-2 text-muted d-inline-flex lh-1" style="float:left white-space:nowrap">' + downloadData.upload_rate_limit + '</div> <div style="clear:both"></div> </td>'
          trHTML = trHTML + '<td style="border:none"> <div class="h5 mb-0 me-2" style="float:left white-space:nowrap">' + Info.download_speed + '</div> <div class="h6 mb-0 me-2 text-muted d-inline-flex lh-1" style="float:left white-space:nowrap"> ' + Info.download_rate_limit + '</div> </td>'
          trHTML += '</tr>';
        }
      }
      trHTML += '</tbody>';
      // alert(trHTML);
      // Set the HTML content of the table directly
      document.getElementById("table-downloader_info").innerHTML = trHTML;
    });
  }
</script>

<script type="text/javascript">
  func_system_statics("get_history_cpu_statics", "cpu_history_statics", "CPU %", "#E9A139");
  func_system_statics("get_history_memory_statics", "memory_history_statics", "内存 %", "#AFABFF");
  chart_sys_stats = new Map([])
  function func_system_statics(funcName, divName, legendName, colorName) {
    ajax_post(funcName, {}, function (ret) {
      chart_i = echarts.init(
        document.getElementById(divName),
        null,
        {
          renderer: "canvas",
          useDirtyRect: false,
        }
      );
      const option = {
        title: {
          text: "",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        legend: {
          textStyle: {
            color: "#888866",
          },
        },
        toolbox: {
          feature: {},
        },
        grid: {
          left: '0%',   //距左边边框的距离
          right: '0%',  //距右边边框的距离
          bottom: '0%',//距下面边框的距离
          top: '30%',    //距上面边框的距离
          containLabel: true,
        },
        xAxis: [
          {
            data: {
              formatter: function () {
                return "";
              }
            },
            splitLine: {
              show: false,
            },
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            type: 'category',
            boundaryGap: false,
          }
        ],
        yAxis: [
          {
            type: "value",
            min: -10,
            max: 100,
            axisLabel: {  // 隐藏y轴数字
              formatter: function () {
                return "";
              }
            },
            dispaly: "none",
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            splitLine: {
              show: true,
              lineStyle: {
                type: [1, 10],
                dashOffset: 1
              }
            },
            show: true,
          }
        ],
        series: [
          {
            data: ret.Statics,
            name: legendName,
            smooth: true,
            color: colorName,
            type: "line",
            areaStyle: {
              opacity: 0.0
            }
          },
        ],
      };

      chart_i.setOption(option);
      chart_sys_stats.set(legendName, chart_i);
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function () {
    // 响应大小调整
    window.onresize = function () {
      if (chart_sys_stats) {
        chart_sys_stats.forEach(function (value, key) {
          value.resize();
        })
      }
      if (chart_media_stats) {
        chart_media_stats.resize();
      }
    };
  });

  function show_bg_runnings() {
    $('#modal-show-bg-runnings').modal("show");
  }
</script>

<script type="text/javascript">
  function refresh_sys_monitor() {
    func_system_statics("get_history_cpu_statics", "cpu_history_statics", "CPU %", "#E9A139");
    func_system_statics("get_history_memory_statics", "memory_history_statics", "内存 %", "#AFABFF");
  }
</script>

<script type="text/javascript">
  function refresh_tasks_monitor() {
    ajax_post("get_running_services", {}, function (ret) {
      let BackgroundRunnings=ret;
    });
  }
</script>
