{% import 'macro/svg.html' as SVG %} {% import 'macro/oops.html' as OOPS %}

<body class="layout-fluid">
    <script src="../static/js/modules/echarts.min.js"></script>
    <!-- 业务页面代码-->
    {% if ServerSucess %}
    <div class="page-body">
      <div class="container-xl">
          <div class="modal-body py-0">
            <div class="col-md-12">
              <!--   <div class="card border-0" id="basic_system">-->
              <div class="row align-items-center row-eq-height", style="position: relative">
                <div class="col-lg-4">
                  <!-- 系统信息 -->
                  <div class="card border-0 card-link-pop">
                    <div class="card-header">
                      <h3 class="card-title">
                        系统信息
                      </h3>
                      <div class="card-actions btn-actions">
                      </div>
                    </div>
                    <div class="card-body border-0">
                      <dl class="row row-eq-height">
                        <div class="card-body border-0">
                          <div class="d-flex align-items-center">
                            <div class="subheader">存储空间</div>
                          </div>
                          <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">
                              {{ SpaceStatics.TotalSpace }}
                            </div>
                            <div class="me-auto">
                              <span class="text-green d-inline-flex align-items-center lh-1">
                                {{ SpaceStatics.UsedPercent }}%
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="card-progress" style="overflow: hidden">
                          <div class="progress-bar bg-green" style="width:{{ SpaceStatics.UsedPercent }}%"
                            role="progressbar" aria-valuenow="{{ UsedPercent }}" aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="card-body border-0">
                          <div class="d-flex align-items-center">
                            <div class="subheader">内存</div>
                          </div>
                          <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">
                              {{ MemoryStatics.TotalMemory }}
                            </div>
                            <div class="me-auto">
                              <span class="text-green d-inline-flex align-items-center lh-1">
                                {{ MemoryStatics.UsedPercent }}%
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="card-progress" style="overflow: hidden">
                          <div class="progress-bar bg-green" style="width:{{ MemoryStatics.UsedPercent }}%"
                            role="progressbar" aria-valuenow="{{ UsedPercent }}" aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="card-body border-0">
                          <div class="d-flex align-items-center">
                            <div class="subheader">用户数</div>
                          </div>
                          <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">{{ UserCount }}</div>
                            <div class="me-auto">
                              <span class="text-green d-inline-flex align-items-center lh-1">
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="card-progress" style="overflow: hidden">
                          <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>
                <!-- 系统信息结束 -->

                {% for Name, Info in DownloaderInfo.items() %}
                <!--单个下载器信息-->
                <div class="col-lg-4">
                  <div class="card border-0 card-link-pop">
                    <div class="card-header">
                      <h3 class="card-title">
                        下载器信息
                      </h3>
                      <div class="card-actions btn-actions">
                        <span class="text-green d-inline-flex align-items-center lh-1">
                          {{ Name }}
                        </span>
                      </div>
                    </div>
                    <div class="card-body border-0">
                      <dl class="row row-eq-height">
                        <div class="card-body border-0">
                          <div class="d-flex align-items-center">
                            <div class="subheader">种子数</div>
                          </div>
                          <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">
                              {{ Info.torrent_count }}
                            </div>
                          </div>
                        </div>
                        <div class="card-progress" style="overflow: hidden">
                          <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="card-body border-0">
                          <div class="d-flex align-items-center">
                            <div class="subheader">下载速度</div>
                          </div>
                          <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">
                              {{ Info.download_speed }}
                            </div>
                            <div class="me-auto">
                              <span class="text-green d-inline-flex align-items-center lh-1">
                                {{ Info.download_rate_limit }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="card-progress" style="overflow: hidden">
                          <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="card-body border-0">
                          <div class="d-flex align-items-center">
                            <div class="subheader">上传速度</div>
                          </div>
                          <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">
                              {{ Info.upload_speed }}
                            </div>
                            <div class="me-auto">
                              <span class="text-green d-inline-flex align-items-center lh-1">
                                {{ Info.upload_rate_limit }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="card-progress" style="overflow: hidden">
                          <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>
                <!--单个下载器信息-->
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
      {% endif %}

      <!-- 业务页面代码-->
      {% if ServerSucess %}
      <div class="page-body">
        <div class="container-xl">
            <div class="modal-body py-0">
              <div class="col-md-12">
                <!--<div class="card border-0" id="basic_system">-->
                <div class="row align-items-center row-eq-height", style="position: relative">
                  <!-- 媒体库信息 -->
                  <div class="col-lg-4">
                    <div class="card border-0 card-link-pop">
                      <div class="card-header">
                        <h3 class="card-title">
                          媒体库信息
                        </h3>
                        <div class="card-actions btn-actions">
                        </div>
                      </div>
                      <div class="card-body border-0">
                        <dl class="row row-eq-height">
                          <div class="card-body border-0">
                            <div class="d-flex align-items-center">
                              <div class="subheader">电影</div>
                            </div>
                            <div class="d-flex align-items-baseline">
                              <div class="h1 mb-0 me-2">
                                {{ MediaCount.MovieCount }}
                              </div>
                              <div class="me-auto">
                                <span class="text-green d-inline-flex align-items-center lh-1">
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="card-progress" style="overflow: hidden">
                            <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                              aria-valuemin="0" aria-valuemax="100">
                            </div>
                          </div>
                          <div class="card-body border-0">
                            <div class="d-flex align-items-center">
                              <div class="subheader">电视剧/动漫</div>
                            </div>
                            <div class="d-flex align-items-baseline">
                              <div class="h1 mb-0 me-2">
                                {{ MediaCount.SeriesCount }}
                              </div>
                              <div class="me-auto">
                                <span class="text-green d-inline-flex align-items-center lh-1">
                                  {{ MediaCount.EpisodeCount }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="card-progress" style="overflow: hidden">
                            <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                              aria-valuemin="0" aria-valuemax="100">
                            </div>
                          </div>
                          <div class="card-body border-0">
                            <div class="d-flex align-items-center">
                              <div class="subheader">音乐</div>
                            </div>
                            <div class="d-flex align-items-baseline">
                              <div class="h1 mb-0 me-2">{{ MediaCount.SongCount }}</div>
                              <div class="me-auto">
                                <span class="text-green d-inline-flex align-items-center lh-1">
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="card-progress" style="overflow: hidden">
                            <div class="progress-bar bg-green" style="width: 0%" role="progressbar" aria-valuenow="0"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <!-- 媒体库信息结束 -->
                  <!--  最新入库统计 -->
                  <div class="col-lg-8">
                    <div class="card border-0 card-link-pop">
                      <div class="card-header">
                        <h3 class="card-title">
                          最新入库统计
                        </h3>
                        <div class="card-actions btn-actions">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="col-lg-12">
                          <div class="card-body border-0">
                            <div id="media_library_statics" style="height: 250%"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  最新入库统计结束 -->
                </div>
              </div>
            </div>
        </div>
      </div>
      {% endif %}
</body>

<script type="text/javascript">
  media_library_statics();
  function media_library_statics(e) {
    ajax_post("get_transfer_statistics", {}, function (ret) {
      chart_statistics = echarts.init(
        document.getElementById("media_library_statics"),
        null,
        {
          renderer: "canvas",
          useDirtyRect: false,
        }
      );

      const option = {
        title: {
          text: "",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        legend: {
          data: ["电影", "电视剧", "动漫"],
          textStyle: {
            color: "#206bc4",
          },
        },
        toolbox: {
          feature: {},
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            data: ret.Labels,
          },
        ],
        yAxis: [
          {
            type: "value",
          },
        ],
        series: [
          {
            name: "电影",
            type: "line",
            stack: "Total",
            areaStyle: {},
            emphasis: {
              focus: "series",
            },
            data: ret.MovieNums,
          },
          {
            name: "电视剧",
            type: "line",
            stack: "Total",
            areaStyle: {},
            emphasis: {
              focus: "series",
            },
            data: ret.TvNums,
          },
          {
            name: "动漫",
            type: "line",
            stack: "Total",
            areaStyle: {},
            emphasis: {
              focus: "series",
            },
            data: ret.AnimeNums,
          },
        ],
      };
      chart_statistics.setOption(option);
    });
  }
  $(document).ready(function () {
    // 响应大小调整
    window.onresize = function () {
      if (chart_statistics) {
        chart_statistics.resize();
      }
    };
  });
</script>
