{% import 'macro/form.html' as FORM %}
{% import 'macro/svg.html' as SVG %}
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          内置服务
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- 业务页面代码 -->
{% if Count > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="d-grid gap-3 grid-normal-card">
      <div class="card border-0 card-sm card-link-pop">
        <div class="card-body border-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="bg-red text-white avatar">
                {{ SVG.indexer() }}
              </span>
            </div>
            <div class="col">
              <div class="font-weight-medium">
                <a href="javascript:show_service_modal_indexer()" id="service_btn">内建索引器</a>
              </div>
              <div class="text-muted">
                {% if Config.pt.search_indexer == "builtin" %}
                正在使用
                {% else %}
                已停用
                {% endif %}
              </div>
            </div>
            <div class="col-auto align-self-center">
              <span class="badge bg-green"></span>
            </div>
          </div>
        </div>
      </div>
      {% for Id, Scheduler in SchedulerTasks.items() %}
      <div class="card border-0 card-sm card-link-pop">
        <div class="card-body border-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="bg-{{ Scheduler.color }} text-white avatar">
                {{ Scheduler.svg|safe }}
              </span>
            </div>
            <div class="col">
              <div class="font-weight-medium">
                <a href="javascript:show_service_modal('{{ Id }}','{{ Scheduler.name }}')" id="service_btn">{{
                  Scheduler.name }}</a>
              </div>
              <div class="text-muted">
                {{ Scheduler.time }}
              </div>
            </div>
            {% if Scheduler.state == "ON" %}
            <div class="col-auto align-self-center">
              <span class="badge bg-green"></span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="page-body">
  <div class="container-xl d-flex flex-column justify-content-center">
    <div class="empty">
      <div class="empty-img"><img src="./static/img/sign_in.svg" height="128" alt="">
      </div>
      <p class="empty-title">没有服务</p>
      <p class="empty-subtitle text-muted">
        没有开启任何后台服务。
      </p>
    </div>
  </div>
</div>
{% endif %}
<div class="modal modal-blur fade" id="modal-nametest" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">名称识别测试</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="overflow: hidden">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">资源名称 <span class="form-help" title="用于测试名称识别情况，无法识别请查询TMDB后酌情添加自定义识别词"
                  data-bs-toggle="tooltip">?</span></label>
              <input type="text" value="" id="test_name" class="form-control" placeholder="种子名/文件名等">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <custom-chips id="test_result"></custom-chips>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <button id="nametest_btn" class="btn btn-primary">识别</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-ruletest" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">过滤规则测试</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-7">
            <div class="mb-3">
              <label class="form-label required">标题</label>
              <input type="text" value="" id="test_title" class="form-control" placeholder="种子名称">
            </div>
          </div>
          <div class="col-lg-2">
            <div class="mb-3">
              <label class="form-label required">大小(GB)</label>
              <input type="text" value="" id="test_size" class="form-control" placeholder="种子大小">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <label class="form-label required">过滤规则</label>
              <select class="form-select" id="test_rulegroup">
                {% if RuleGroups %}
                <option value="0">请选择</option>
                {% for RuleGroup in RuleGroups %}
                <option value="{{ RuleGroup.id }}">{{ RuleGroup.name }}</option>
                {% endfor %}
                {% else %}
                <option value="0">未配置</option>
                {% endif %}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">副标题</label>
              <textarea rows="3" id="test_subtitle" class="form-control" placeholder="种子描述"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3" id="testrule_result">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <button id="ruletest_btn" class="btn btn-primary">测试</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-nettest" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">网络连通性测试</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="table-responsive table-modal-body">
        <table class="table table-vcenter card-table table-hover table-striped">
          <thead>
            <tr>
              <th>测试对象</th>
              <th>连通性</th>
              <th>耗时</th>
            </tr>
          </thead>
          <tbody>
            {% for target in SchedulerTasks['nettest'].targets %}
            <tr>
              <td>
                <span>{{ target }}</span>
                <input name="nettest_item" value="{{ target }}|{{ loop.index0 }}" type="hidden">
              </td>
              <td id="nettest_item_res_{{ loop.index0 }}"></td>
              <td id="nettest_item_res_time_{{ loop.index0 }}"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link me-auto" data-bs-dismiss="modal">取消</button>
        <button id="nettest_btn" class="btn btn-primary">测试</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-backup" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">备份&恢复</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="dropzone" id="back_file" action="/upload">
          <div class="fallback">
            <input name="file" type="file" accept="*.zip" />
          </div>
          <div class="dz-message">
            <h3 class="dropzone-msg-title">上传备份文件</h3>
            <span class="dropzone-msg-desc">点击或者拖动备份文件到此处</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="backup_btn" class="btn btn-primary">备份当前配置</button>
        <button id="restore_btn" class="btn btn-danger">恢复配置</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-system-processes" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">系统进程</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="table-responsive table-modal-body">
        <table class="table table-vcenter card-table table-hover table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>运行时长</th>
              <th>占用内存</th>
            </tr>
          </thead>
          <tbody id="system_processes_content">
            <tr>
              <td colspan="4" class="text-center">加载中...</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-service-sync" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">手动目录同步</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">源目录 <span class="form-help" title="不选择时默认全部运行"
                  data-bs-toggle="tooltip">?</span></label>
              <div class="form-selectgroup">
                {% for SyncId, SyncPath in SyncPaths.items() %}
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="service_sync_dir" value="{{ SyncId }}" class="form-selectgroup-input">
                  <span class="form-selectgroup-label">{{ SyncPath.from }}</span>
                </label>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:run_sync_now()" id="service_sync_btn" class="btn btn-primary">开始同步</a>
      </div>
    </div>
  </div>
</div>

{% for Type, Indexer in IndexerConf.items() %}
<div class="modal modal-blur fade" id="modal-{{ Type }}" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ Indexer.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ FORM.gen_form_config_elements(Type, Config, Indexer.config) }}
      </div>
      <div class="modal-footer">
        <button onclick="test_indexer_config('{{ Type }}')" id="{{ Type }}_test_btn" class="btn me-auto">
        </button>
        <button onclick="save_indexer_config('{{ Type }}')" id="{{ Type }}_save_btn" class="btn btn-primary">
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="modal modal-blur fade" id="modal-builtin" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">内建索引器</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="col-auto ms-auto d-print-none">
          <div class="btn-list">
            <a href="javascript:show_indexer_statistics_modal()">
              {{ SVG.pie() }}
              统计信息
            </a>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <div class="btn-list">
                <label class="form-label required">私有站点 <span class="form-help"
                    title="只有选中的私有站点才会在搜索中使用。内建索引器支持私有站点的先决条件：1、在站点维护中正确配置站点地址和Cookie；2、站点己被支持"
                    data-bs-toggle="tooltip">?</span></label>
                <a href="javascript:void(0)" class="ms-auto"
                  onclick="select_btn_SelectALL(this, 'indexer_sites_private')">全选</a>
              </div>
              <div class="form-selectgroup">
                {% if PrivateCount > 0 %}
                {% for Indexer in Indexers %}
                {% if not Indexer.public %}
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="indexer_sites_private" value="{{ Indexer.id }}"
                    class="form-selectgroup-input" {% if IndexerSites and Indexer.id in IndexerSites %}checked{% endif
                    %}>
                  <span class="form-selectgroup-label">{{ Indexer.name }}</span>
                </label>
                {% endif %}
                {% endfor %}
                {% else %}
                <label class="form-selectgroup-item">
                  <span class="form-selectgroup-label">无</span>
                </label>
                {% endif %}
              </div>
            </div>
            {% if PublicCount > 0 %}
            <div class="mb-3">
              <div class="btn-list">
                <label class="form-label">公开站点 <span class="form-help"
                    title="只有选中的公开站点才会在搜索中使用。公开站点只要被内建索引器支持了就会在这里显示，大部分公开站点都需要网络代理才能访问"
                    data-bs-toggle="tooltip">?</span></label>
                <a href="javascript:void(0)" class="ms-auto"
                  onclick="select_btn_SelectALL(this, 'indexer_sites_public')">全选</a>
              </div>
              <div class="form-selectgroup">
                {% for Indexer in Indexers %}
                {% if Indexer.public %}
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="indexer_sites_public" value="{{ Indexer.id }}"
                    class="form-selectgroup-input" {% if IndexerSites and Indexer.id in IndexerSites %}checked{% endif
                    %}>
                  <span class="form-selectgroup-label">{{ Indexer.name }}</span>
                </label>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button onclick="save_indexer_config('builtin')" id="builtin_save_btn" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-indexer-statistics" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="card border-0 modal-content"
      style="border-top-left-radius:var(--tblr-modal-inner-border-radius) !important; border-top-right-radius:var(--tblr-modal-inner-border-radius) !important">
      <div class="card-header"
        style="border-top-left-radius:var(--tblr-modal-inner-border-radius) !important; border-top-right-radius:var(--tblr-modal-inner-border-radius) !important">
        <ul class="nav nav-fill card-header-tabs nav-tabs rounded-3" data-bs-toggle="tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a href="#tabs-indexer-chart" class="nav-link active" style="justify-content: center" data-bs-toggle="tab"
              aria-selected="true" role="tab">
              图表
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#tabs-indexer-list" class="nav-link" style="justify-content: center" data-bs-toggle="tab"
              aria-selected="false" role="tab" tabindex="-1">
              详情
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body p-0 mb-3 border-0">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="tabs-indexer-chart" role="tabpanel">
            <div id="indexer_chart_content"></div>
          </div>
          <div class="tab-pane fade" id="tabs-indexer-list" role="tabpanel">
            <div id="table-indexer-list" class="table-responsive table-modal-body">
              <table class="table table-vcenter card-table table-hover table-striped">
                <thead>
                  <tr>
                    <th class="flex-fill"><button class="table-sort" data-sort="sort-name">索引</button></th>
                    <th><button class="table-sort" data-sort="sort-total">请求数</button></th>
                    <th><button class="table-sort" data-sort="sort-fail">失败数</button></th>
                    <th><button class="table-sort" data-sort="sort-avg">平均耗时（秒）</button></th>
                  </tr>
                </thead>
                <tbody id="indexer_list_content" class="table-tbody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var indexer_chat = undefined;

  function init_indexer_chart() {

    // 请求数据
    ajax_post("get_indexer_statistics", {}, function (ret) {

      // 饼图
      if (typeof (indexer_chat) != 'undefined')
        indexer_chat.dispose();

      indexer_chat = echarts.init($('#indexer_chart_content')[0], null, {
        height: 300
      });

      let options = {
        tooltip: {
          trigger: 'item', valueFormatter: value => value + " 秒"
        },
        dataset: {
          source: ret.dataset.filter(item => {
            return (item[1] > 0 || item[1] === 'avg')
          })
        },
        series: [
          {
            type: 'pie',
            encode: {
              itemName: 'indexer',
              value: 'avg'
            },
            label: {
              formatter: function (params) {
                return params.name + ': ' + params.value[params.encode.value[0]] + " 秒";
              }
            }, emptyCircleStyle: {
              color: 'transparent',
              borderColor: '#ddd',
              borderWidth: 1
            }
          }
        ]
      };
      indexer_chat.setOption(options);

      // 列表
      let html = "";
      for (let item of ret.data) {
        html = `${html}
                <tr>
                  <td class="sort-name" data-name="${item.name}">${item.name}</td>
                  <td class="sort-total" data-total="${item.total}">${item.total}</td>
                  <td class="sort-fail" data-fail="${item.fail}">${item.fail}</td>
                  <td class="sort-avg" data-avg="${item.avg}">${item.avg}</td>
                </tr>
                `
      }
      if (html) {
        $("#indexer_list_content").html(html);
      } else {
        $("#indexer_list_content").html(`<tr><td colspan="4"></td></tr>`);
      }

      let tableDataList = new List('table-indexer-list', {
        sortClass: 'table-sort',
        listClass: 'table-tbody',
        valueNames: ['sort-name', 'sort-total', 'sort-fail', 'sort-avg',
          {attr: 'data-name', name: 'sort-name'},
          {attr: 'data-total', name: 'sort-total'},
          {attr: 'data-fail', name: 'sort-fail'},
          {attr: 'data-avg', name: 'sort-avg'}
        ]
      });

    });

  }

  $(document).ready(function () {
    // 加载图表
    $('#modal-indexer-statistics').off('shown.bs.modal').on('shown.bs.modal', function (e) {
      init_indexer_chart();
    });
  });
</script>

<script type="text/javascript">
  // 显示服务提示框
  function show_service_modal_indexer() {
    $("#modal-builtin").modal('show');
  }
</script>
<script type="text/javascript">
  function show_service_modal(id, name) {
    switch (id) {
      case "nametest":
        $('#modal-nametest').modal('show');
        break;
      case "ruletest":
        $('#modal-ruletest').modal('show');
        break;
      case "nettest":
        $('[id^="nettest_item_res"]').empty();
        $('#modal-nettest').modal('show');
        break;
      case "processes":
        $('#modal-system-processes').modal('show');
        setTimeout(refresh_system_process, 1000);
        break;
      case "blacklist":
        show_confirm_modal("清理文件整理缓存后，已转移过的文件允许重新转移（包括识别错误的文件），是否确认？", function () {
          hide_confirm_modal();
          ajax_post("truncate_blacklist", {}, function (ret) {
            show_success_modal("清理文件整理缓存成功");
          });
        });
        break;
      case "rsshistory":
        show_confirm_modal("清理RSS缓存后，已经订阅下载过但没有入库的文件可能会重新下载，是否确认？", function () {
          hide_confirm_modal();
          ajax_post("truncate_rss_history", {}, function (ret) {
            show_success_modal("清理RSS历史记录成功");
          });
        });
        break;
      case "backup":
        $('#modal-backup').modal('show');
        break;
      case "sync":
        $('#modal-service-sync').modal('show');
        break;
      default:
        show_ask_modal("是否立即运行 " + name + "？", function () {
          hide_ask_modal();
          run_scheduler(id, name);
        });
    }
  }

  // 运行服务
  function run_scheduler(id, name) {
    const data = {"item": id};
    ajax_post("sch", data, function (ret) {
      show_success_modal(`${name} 服务启动成功，正在后台运行`);
    });
  }

  // 名称测试
  $("#nametest_btn").unbind("click").click(function () {
    name_test($(this));
  });

  // 规则测试
  $("#ruletest_btn").unbind("click").click(function () {
    rule_test($(this));
  });

  // 网络测试
  $("#nettest_btn").unbind("click").click(async function () {
    let btn_obj = $(this);
    let url_indexs = select_GetHiddenVAL("nettest_item");
    let nettest_count_total = url_indexs.length;
    let nettest_count_finished = 0;
    btn_obj.text("测试中...").attr("disabled", true);
    for (let url_index of url_indexs) {
      net_test_one(url_index, ret => {
        if (ret) {
          nettest_count_finished++;
          if (nettest_count_finished >= nettest_count_total) {
            btn_obj.text("测试").attr("disabled", false);
          }
        }
      });
    }
  });

  // 备份
  $("#backup_btn").unbind("click").click(function () {
    $(this).text("备份中...").attr("disabled", true);
    ajax_backup(function () {
      $(this).attr("disabled", false).text("备份当前配置");
    });
  });

  // 恢复备份
  $("#restore_btn").unbind("click").click(function () {
    if (!backup_dropzone || !backup_dropzone.files || !backup_dropzone.files[0]) {
      return;
    }
    $(this).text("恢复中...").attr("disabled", true);
    ajax_post("restory_backup", {file_name: backup_dropzone.files[backup_dropzone.files.length - 1].name}, function (ret) {
      $(this).attr("disabled", false).text("恢复配置");
      $("#modal-backup").modal('hide');
      if (ret.code === 0) {
        show_success_modal("备份恢复成功，请重启系统生效！");
      } else {
        show_fail_modal(`备份恢复失败：${ret.msg}`, function () {
          $("#modal-backup").modal('show');
        });
      }
    });
  });

  //名称识别测试
  function name_test(btn_obj) {
    const name_obj = $('#test_name');
    const name = name_obj.val();
    if (!name) {
      name_obj.addClass("is-invalid");
      return;
    } else {
      name_obj.removeClass("is-invalid");
    }
    btn_obj.text("识别中...").attr("disabled", true);
    media_name_test(name, "test_result", function () {
      btn_obj.text("识别").attr("disabled", false);
    });
  }

  //过滤规则测试
  function rule_test(btn_obj) {
    const title_obj = $("#test_title");
    const title = title_obj.val();
    if (!title) {
      title_obj.addClass("is-invalid");
      return;
    } else {
      title_obj.removeClass("is-invalid");
    }
    const size_obj = $("#test_size");
    const size = size_obj.val();
    if (!size || isNaN(size)) {
      size_obj.addClass("is-invalid");
      return;
    } else {
      size_obj.removeClass("is-invalid");
    }
    const rulegroup_obj = $("#test_rulegroup");
    const rulegroup = rulegroup_obj.val();
    if (rulegroup === "0") {
      rulegroup_obj.addClass("is-invalid");
      return;
    } else {
      rulegroup_obj.removeClass("is-invalid");
    }

    const subtitle = $("#test_subtitle").val();
    btn_obj.text("测试中...").attr("disabled", true);
    const params = {
      "title": title,
      "size": size,
      "rulegroup": rulegroup,
      "subtitle": subtitle
    };
    ajax_post("rule_test", params, function (ret) {
      btn_obj.text("测试").attr("disabled", false);
      if (ret.code === 0) {
        let content = "";
        if (ret.flag) {
          content += `<span class="badge bg-green me-1 mb-1">${ret.text}</span>
                      <span class="badge badge-outline text-blue me-1 mb-1" title="命中规则在规则组内的序号">优先级：${ret.order}</span>`;
        } else {
          content += `<span class="badge bg-red me-1 mb-1">${ret.text}</span>`;
        }
        $("#testrule_result").empty().append(content);
      }
    });
  }

  // 单个网络测试
  function net_test_one(url_index, callBack) {
    if (!url_index) {
      return;
    }
    let url = url_index.split("|")[0];
    let index = url_index.split("|")[1];
    ajax_post("net_test", decodeURI(url), function (ret) {
      if (ret.res) {
        $(`#nettest_item_res_${index}`).html('<span class="badge bg-green me-1 mb-1">是</span>');
        $(`#nettest_item_res_time_${index}`).html(`<span class="text-green">${ret.time}</span>`);
      } else {
        $(`#nettest_item_res_${index}`).html('<span class="badge bg-red me-1 mb-1">否</span>');
        $(`#nettest_item_res_time_${index}`).html(`<span class="text-red">${ret.time}</span>`);
      }
      callBack(true)
    });
  }

  // 刷新系统进程
  function refresh_system_process() {
    ajax_post("get_system_processes", {}, function (ret) {
      if (ret.code === 0) {
        let content = "";
        for (let i = 0; i < ret.data.length; i++) {
          content += `<tr>
                        <td>${ret.data[i].id}</td>
                        <td>${ret.data[i].name}</td>
                        <td>${ret.data[i].time}</td>
                        <td>${ret.data[i].memory} MB</td>
                      </tr>`;
        }
        $("#system_processes_content").empty().append(content);
        if ($('#modal-system-processes').is(':visible')) {
          setTimeout(refresh_system_process, 2000);
        }
      }
    }, true, false);
  }

  // 立即运行目录同步
  function run_sync_now() {
    let sids = select_GetSelectedVAL("service_sync_dir");
    ajax_post("run_directory_sync", {sid: sids}, function (ret) {
      $("#modal-service-sync").modal('hide');
      if (ret.code === 0) {
        show_success_modal("目录同步已启动，正在后台运行");
      } else {
        show_fail_modal(ret.msg);
      }
    });
  }

  // 初始化DropZone
  backup_dropzone = new Dropzone("#back_file");
  backup_dropzone.options.acceptedFiles = ".zip";

</script>

<script>
  // 当前处理的类型
  var currType = "";

  // 保存配置
  function save_config(type, func, test) {
    currType = type;
    let params = {};
    if (type !== "builtin") {
      params = input_select_GetVal(`modal-${type}`);
      params['test'] = test || false;
      params['pt.search_indexer'] = type;
      ajax_post("update_config", params, func);
    } else {
      let sites = select_GetSelectedVAL("^indexer_sites");
      let params = {
        key: "UserIndexerSites",
        value: sites
      }
      ajax_post("set_system_config", params, func);
    }
  }

  //保存配置、关闭和刷新页面
  function save_indexer_config(type) {
    $(`#modal-${type}`).modal('hide');
    save_config(type, function (ret) {
      window_history_refresh();
    });
  }

  //保存配置和测试配置
  function test_indexer_config(type) {
    $(`#${type}_test_btn`).text("测试中...").attr("disabled", true);
    save_config(type, function (ret) {
      let command;
      {% for Type, Indexer in IndexerConf.items() %}
      if (currType === "{{ Type }}") {
        command = "{{ Indexer.test_command }}";
      }
      {% endfor %}
      ajax_post("test_connection", {"command": command}, function (ret) {
        if (ret.code === 0) {
          $(`#${currType}_test_btn`).text("测试成功").attr("disabled", false);
        } else {
          $(`#${currType}_test_btn`).text("测试失败！").attr("disabled", false);
        }
      });
    }, true);
  }

  // 显示索引统计
  function show_indexer_statistics_modal() {
    $("#modal-indexer-statistics").modal("show");
  }
</script>
